@font-face {
   font-family: 'Grandstander-VariableFont_wght';
   font-display: swap;
   src: url('file:///Users/dmitrylozhkin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-05-31_164253/fonts/Grandstander-VariableFont_wght/font.ttf');
}
